.home-container {
  width: 75%;
  height: 86vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  margin-left: 12%;
  background-color: #ffffff;
  margin-top: 5%;
}

.home-container h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

body {
  background: #0c0ce94d;
}
